@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use the <b>Generate Accounts</b> link on the <b>Accounts</b> tab to fill the inMemory database with accounts</p>
    <p>On the <b>Upload Meter Readings</b> tab you can upload a csv file with Meter Readings</p>
    <p>On the <b>Accounts</b> tab you can browse all the accounts</p>
    <p>On the <b>Accounts Details</b> screen you can browse all the account's Meter Registrations and Add/Update/Delete them</p>
</div>
